body {
    background-color: rgb(57, 57, 57);
    font-family: sans-serif;
}

header img {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.Scrolls {
    font-size: 25px;
    color: rgb(99, 12, 12);
    font-family: "matura mt script capitals";
    background-color: brown;
    border-radius: 10px;
    padding: 4px;
}

.Navigation {
    font-size: 20px;
    color: blue;
    list-style-type: none;
    background-color: black;
    display: flex;
    justify-content: center;
    display: center;
}

.Navigation a {
    text-decoration: none;
    margin-right: 25px;
    padding: 4px;
}

.Buy {
    color: black;
    background-color: blue;
    border-radius: 10px;
    padding: 4px;
}

.Navigation1 h1 {
    color: aquamarine;
    text-align: left;
}

.Navigation2 a {
    text-decoration: none;
    font-size: 20px;
}

.Navigation2 {
    list-style-type: none;
}

.Forg {
    color: cornflowerblue;
}

.Besedka {
    color: crimson;
}

.Creator {
    color: darkorange;
}

.WhySkyrim {
    color: lime;
}

.IntFacts {
    color: deepskyblue;
}

.Basement {
    color: goldenrod;
}

h1 {
    text-align: center;
    color: chartreuse;
    font-family: "arial black";
}

.HI {
    color: white;
    font-size: 20px;
    text-align: center;
}

.Game {
    color: cornflowerblue;
}

.ForGame {
    border-radius: 10px;
    background-color: rgb(166, 114, 50);
    padding: 4px;
}

.Bethesda {
    color: crimson;
}

.ForBethesda {
    border-radius: 10px;
    background-color: darkred;
    padding: 4px;
}

.Todd {
    color: darkorange;
}

.ForTodd {
    border-radius: 10px;
    background-color: darkslategray;
    padding: 4px;
}

.Skyrim {
    color: lime;
}

.ForSkyrim {
    border-radius: 10px;
    background-color: darkolivegreen;
    padding: 4px;
}

.Facts {
    color: deepskyblue;
}

.ForFacts {
    background-color: darkblue;
    border-radius: 10px;
    padding: 4px;
}

.Language {
    color: lightblue;
}

.World {
    color: red;
}

.Gamedev {
    color: greenyellow;
}

.Person {
    color: orange;
}

.Barenzia {
    color: lightcoral;
}

.Country {
    color: deepskyblue;
}

main h2 {
    font-family: "arial black";
}

main p {
    color: antiquewhite;
    font-size: 18px;
}

.Todd1 {
    color: aquamarine;
    text-decoration: none;
}

footer {
    background-color: darkgreen;
    border-radius: 15px;
}

footer p {
    font-size:20px;
    color:gold;
    padding: 4px;
}

footer b {
    color:lightgreen;
    font-size:20px;
}

.Site {
    color: crimson;
    font-size: 27px;
}

.Contacts {
    color: darkturquoise;
    font-size: 23px;
}

.Integration {
    color: rgb(48, 181, 156);
    font-size: 27px;
}

.Github {
    color: white;
    text-decoration: none;
}

.Github img {
    width: 25px;
    margin-left: 5px;
    margin-bottom: -5px;
}

.Discord {
    color: DodgerBlue;
    text-decoration: none;
}

.Discord img {
    width: 25px;
    margin-left: 5px;
    margin-bottom: -5px;
}

.Steam {
    color: black;
    text-decoration: none;
}

.Steam img {
    width: 25px;
    margin-left: 5px;
    margin-bottom: -5px;
}
